absl-py==2.1.0
altair==5.4.1
annotated-types==0.7.0
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
audioread==3.0.1
beautifulsoup4==4.12.2
blinker==1.8.2
boto3==1.34.84
botocore==1.34.84
bs4==0.0.1
build==1.2.1
cachetools==5.5.0
certifi==2023.7.22
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
comm==0.2.1
contourpy==1.2.0
country-bounding-boxes==0.2.3
cycler==0.10.0
debugpy==1.8.1
decorator==5.1.1
docutils==0.21.1
executing==2.0.1
filelock==3.13.4
fire==0.6.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.50.0
fsspec==2024.3.1
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.10
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.2
google-pasta==0.2.0
googleapis-common-protos==1.65.0
grpcio==1.66.2
grpcio-status==1.66.2
h5py==3.11.0
httplib2==0.22.0
huggingface-hub==0.22.2
idna==2.10
importlib_metadata==7.1.0
inflect==4.1.0
ipykernel==6.29.3
ipython==8.22.2
iso3166==2.1.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.0
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
keras==3.2.1
keyring==25.1.0
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.3.2
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.1.0
namex==0.0.8
narwhals==1.9.0
nest-asyncio==1.6.0
networkx==3.3
nh3==0.2.17
nltk==3.8.1
numba==0.60.0
numpy==1.26.1
opencv-python==4.7.0.72
opencv-python-headless==4.8.0.74
opt-einsum==3.3.0
optree==0.11.0
packaging==23.2
pandas==2.1.1
parso==0.8.3
pathlib==1.0.1
pillow==10.2.0
pkginfo==1.10.0
platformdirs==4.2.0
pooch==1.8.2
prompt-toolkit==3.0.43
proto-plus==1.24.0
protobuf==5.28.2
psutil==5.9.8
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybboxes==0.1.6
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.17.2
PyOpenGL-accelerate==3.1.7
PyOpenGL-Demo==3.1.1
pyparsing==3.1.2
pyproject_hooks==1.0.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-magic==0.4.27
pytz==2023.3.post1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzmq==25.1.2
readme_renderer==43.0
referencing==0.35.1
regex==2023.10.3
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
roboflow==1.1.27
rpds-py==0.20.0
rsa==4.9
s3transfer==0.10.1
sahi==0.11.15
scikit-learn==1.5.2
scipy==1.13.0
seaborn==0.13.2
setuptools==69.5.1
shapely==2.0.3
six==1.16.0
smmap==5.0.1
soundfile==0.12.1
soupsieve==2.5
soxr==0.5.0.post1
stack-data==0.6.3
streamlit==1.39.0
sympy==1.12
tenacity==9.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
termcolor==2.4.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
toml==0.10.2
torch==2.2.2
torchvision==0.17.2
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
twine==5.0.0
typing_extensions==4.11.0
tzdata==2023.3
ultralytics @ git+https://github.com/ultralytics/ultralytics.git@3bbbdcfef8376d33f3d233c90726c690aa1d83f5
ultralytics-yolo==0.0.1
uritemplate==4.1.1
urllib3==2.0.6
vaderSentiment==3.3.2
watchdog==5.0.3
wcwidth==0.2.13
Werkzeug==3.0.2
wheel==0.43.0
word-forms==2.1.0
wrapt==1.16.0
yolov5==7.0.13
yolov8==0.0.2
zipp==3.18.1
